.navBar {
  box-sizing: border-box;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  background-color:#EEC373;
  box-shadow: 0px 2px 10px  #00000073 ;
  margin: 0;
}

.logo{
  width: 6rem;
  height: 3rem;
  position: relative;
  left: 4rem;
}

.logoButton {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonsCont{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7rem;
  width:27rem;
  position:relative;
  left: 10rem;
}

.homeLink{
  text-decoration: none;
  color: #876445;
  font-size: larger;
}

.homeLink:hover{
  border-bottom:2.5px solid #F4DFBA;
}

.homeLink:focus{
  border-bottom: 2.5px solid #F4DFBA;
}


.button {
  border-radius: 20px;
    position: relative;
    width: 154px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: #CA965C;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(35px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: 1.3px;
  transform: translateX(112px);
  height: 100%;
  width: 40px;
  background-color: #876445;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 35px;
  stroke: #fff;
}

.button:hover {
  background: #876445;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 160px;
  transform: translateX(-5.7px);
}

.button:active .button__icon {
  background-color: #bf8c5f;
}
