@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body{
  margin: 0;
  padding: 0;
  background: none;
}

* {
  font-family: 'Kanit', sans-serif;
  font-display: optional;
}
