
.containerHome{
  position: absolute;
  background-color: #CA965C;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: -webkit-fill-available;
}
.cardsCont{
  margin-left: 15px;
  display: grid;
  margin-top: 3.5rem;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
} 

.selects {
  position: absolute;
  top: 1rem;
  right: 4.6rem;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.select {
  background-color: #CA965C;
  height: 1.8rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px #00000073;
  color: #876445;
  cursor: pointer;
}

.selectPeso{
    background-color: #CA965C;
    height: 1.8rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px #00000073;
    color: #876445;
    cursor: pointer;
    width: 3.5rem;
}

.select1 {
  color: #876445;
  background-color: #CA965C;
  height: 1.8rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px #00000073;
  cursor: pointer;
}

.select:focus {
  border: 2px solid #EEC373;
}

.selectPeso:focus {
  border: 2px solid #EEC373;
}

.select1:focus {
  border: 2px solid #EEC373;
}

.loader {
  position: relative;
  top: 15rem;
  left: 37rem;
  width: 45px;
  height: 40px;
  background: linear-gradient(#0000 calc(1*100%/6), #fff 0 calc(3*100%/6), #0000 0),
    linear-gradient(#0000 calc(2*100%/6), #fff 0 calc(4*100%/6), #0000 0),
    linear-gradient(#0000 calc(3*100%/6), #fff 0 calc(5*100%/6), #0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}