.imgDog {
  border-radius: 10px;
  width: 9rem;
  height: 5rem;
}

.cardLink{
  text-decoration: none;
}

.cardDog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 20px 15px;
  margin: 10px;
  width: 10rem;
  height: 12rem;
  background-color: #876445;
  color: #F4DFBA;
  border-radius: 10px;
  border: 1px solid #F4DFBA;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  user-select: none;
}

.cardDog:hover {
  border: 1px solid #463424;
  transform: scale(1.05);
}

.cardDog:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.cardInfo>* {
  margin: 3px;
}

.name {
  text-decoration: none;
  font-size: 11px;
  color: #EEC373;
  transition: all 0.3s;
}

.cardDog:hover .name {
  transform: scale(1.1);
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.pagination {
  margin-top: 1.5rem;
  list-style: none;
  width: 92%;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 5px;
  margin: 5px;
  width: 2rem;
  border-radius: 5px;
  border: 1px solid #EEC373;
  color: #876445;
  cursor: pointer;
}

.pagination a:hover {
  color: #EEC373;
  background-color: #876445;
}

.activePag a {
  color: #EEC373;
  background-color: #876445;
}

.cardContainer {
  margin-left: 15px;
  display: grid;
  margin-top: 1.5rem;
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

.iconHeart path{
  stroke: #EEC373;
}

.iconHeart{
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.iconHeart:hover {
  transform: scale(1.1);
}

.iconHeartFill{
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.iconHeartFill:hover {
  transform: scale(1.1);
}

.iconHeartFill path {
  stroke: #EEC373;
  fill: #EEC373;
}

.deleteBtn{
  position:absolute;
  right: -2rem;
  bottom: -1rem;
  cursor: pointer;
}